[submodule "cookbooks/chef-jubatus"]
	path = cookbooks/jubatus
	url = git://github.com/katsyoshi/chef-jubatus.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = git://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/supervisor"]
	path = cookbooks/supervisor
	url = git://github.com/opscode-cookbooks/supervisor.git
[submodule "cookbooks/python"]
	path = cookbooks/python
	url = git://github.com/opscode-cookbooks/python.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = git://github.com/opscode-cookbooks/yum.git
[submodule "cookbooks/yum-epel"]
	path = cookbooks/yum-epel
	url = git://github.com/opscode-cookbooks/yum-epel.git
[submodule "docker-jubatus"]
	path = docker-jubatus
	url = git://github.com/katsyoshi/docker-jubatus.git
