%h1 hello Jubatus #{ENV['RACK_ENV']} world!!

%label.name
  label
  %input#your-name
%label.weight
  weight
  %input#your-weight
%label.meals
  meal
  %input#your-meals
%label.file
  file
  %input#your-photo

%button{onclick: "postYourParamsLearn();"}
  learn!!
%button{onclick: "postYourParamsAnalyze();"}
  analyze!!
%button{onclick: "jubatusStatus();"}
  status!!

#calc-result
