!!!5

%html
  %head
    %title JubataaS
    %link{href: '/css/main.css', rel: 'text/css'}
    %script{src: '//code.jquery.com/jquery-2.1.1.min.js'}
    %script{src: '/js/main.js'}
  %body
    = yield
